mat-card {
  width: 80%;
  margin: 10px auto;
}

mat-card mat-form-field {
  display: block;
}


.detail-row{
  width: 80%;
}

.recipe-creator-id{
  width: 20%;
}

.recipe-content{
  width: 80%;
}
.recipe-detail{
  display: flex;
}

/* Structure */
.container {
  position: relative;
  width: 80%;
  margin: 10px auto;
}

.filter-container{
  padding-top: 10px;
  margin: 10px 10px;
}

.form-field{
  margin-left: 10px;
  margin-right: 10px;
}

.table-container {
  position: relative;
  min-height: 200px;
  max-height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_btn{
  float: right;
  margin: 5px;
}